#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.card-container {
  background-color: #F6F4EB;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 350px;
}

.card-container h3 {
  color: #45A1CC;
}

.card-book {
  background-color: #45A1CC;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.card-book p {
  font-weight: bold;
  color: #fff;
}

.form-container {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 2rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 500px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
 

.form-group input {  
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}  

.btn {
  background-color: #45A1CC;
  border: none;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  background-color: #4682A9;
}

